@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body{
    background: #DCF5FF;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 30%;
    background: white;
    border-radius: 10px;

    .inner{
        background: rgb(7, 218, 165);
        padding: 1em;
        border-radius: 10px;
        width:calc(100% -2em);
        clip-path: inset(0% 0% 0% 100%);
        transition: all .5s ease-in-out;
        cursor: pointer;

        // span {
        //     float: right;
        //     color: white;
        //     font-weight: bold;
        //     transition: color .5s;
        //     position: relative;
        //     margin-right: 4%;

        // }

        &:hover span{
                color: rgba(255, 255, 255, 0);
        }

        h1 {
            color: white;
            margin: 0;
        }

        p {
           color: white;
           font-size: 0.8rem; 
        }
    }
    &:hover .inner{
        clip-path: inset(0% 0% 0% 0%);
        background: #00B6ff;
    }
}